# Compiler files
cache/
out/
node_modules/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# files
.env
package-lock.json
.github
price_update.txt

# IDE
.idea
.vscode